* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #03A584;
  color: white;
}

/* navibar */
nav {
  background-color: #FEDF14;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.nav-logo {
  width: 140px;
  height: 90px;
  border-radius: 50%;
  margin-right: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-links a {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #2F2F2F;
}

.nav-links a.active {
  color: #03A584;
}

.btn-adotar {
  background-color: #3EA9DD;
  color: white !important;
  padding: 10px 24px;
  border-radius: 30px;
}

/* tuktulo */
.hero {
  padding: 60px 60px 40px;
}

.hero h1 {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 48px;
  line-height: 1.2;
  color: white;
}

.hero h1 span {
  color: #FEDF14;
}

/* postagens */
.posts {
  padding: 20px 60px 60px;
}

.post-card {
  display: flex;
  gap: 32px;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid white;
}

.post-thumb {
  width: 340px;
  height: 220px;
  border-radius: 20px;
}

.post-info h2 {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 28px;
  color: white;
  margin-bottom: 12px;
}

.post-info p {
  font-size: 15px;
  color: white;
  line-height: 1.6;
}

/* foter */
footer {
  background-color: #FEDF14;
  padding: 48px 60px 0;
}

.footer-conteudo {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.footer-coluna {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-coluna h3 {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 20px;
  color: #2F2F2F;
  margin-bottom: 6px;
}

.footer-coluna p {
  font-size: 14px;
  color: #2F2F2F;
}

.footer-logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;

}
   /* qrcorde */
.footer-qr {
  width: 90px;
  height: 90px;
  border-radius: 17px;
}

.footer-bottom {
  background-color: #2F2F2F;
  padding: 10px 60px;
  margin: 32px -60px 0;
  display: flex;
  justify-content: space-between;
}

.footer-bottom span {
  font-size: 13px;
  color: white;
}