/* section -> Carousel */

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
}

.carousel-slide img {
  width: 100%;
  display: block;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2.4rem;
  background-color: var(--green-color-400);
}

.prev-btn {
  left: 1rem;
}

.next-btn {
  right: 1rem;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: var(--green-color-700);
}

/* -------------------------------------------- */

/* section -> Novos Pets para adoção */

.newcomer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.newcomer__title {
  color: var(--white-color);
  text-wrap: balance;

  display: flex;
  flex-direction: row;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
}

.newcomer__title-ilustration {
  width: 100%;
  height: 100%;
  max-width: 12rem;
  user-select: none;
}

.newcomer__title-ilustration img {
  padding: .8rem;
  /* Converte a img para a cor que eu preciso -> amarelo */
  filter: var(--filter-yellow);
  color: var(--yellow-color-500);

}

.newcomer__title h2 {
  font-size: 8rem;
  line-height: .8;
  text-align: center;
  align-items: center;
}

.newcomer__title strong {
  color: var(--yellow-color-500);
}

.newcomer__cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.newcomer__card {
  width: 100%;
  height: 100%;
  max-width: 40rem;
  border-radius: 2.4rem;

  gap: .8rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--white-color);
  box-shadow: var(--card-shadow);

  transition: scale ease-in-out .2s;
}

.newcomer__card:hover {
  scale: 1.05;
}

.newcomer__card-img {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 32rem;
  overflow: hidden;
  background-color: var(--black-color);
  border-radius: 1.6rem 1.6rem 0 0;
}

.newcomer__card-img p {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .8rem;
  color: var(--white-color);
}

.newcomer__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  mask-image: linear-gradient(to bottom right, black 40%, transparent 100%);
}

.newcomer__card-info {
  padding: 1.6rem;
  padding-top: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .8rem;
}

.newcomer__card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.newcomer__card-description h3 {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--green-color-600);
}

.newcomer__card-description p {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--gray-color);
  font-weight: 600;
}

.newcomer__card-detail {
  width: 100%;
  max-height: 7.2rem;
  font-size: 1.2rem;
  line-height: 1.4;

  overflow: hidden;

}

.newcomer__card-btn {
  padding: .8rem;
  width: 100%;
}

.newcomer__card-btn button {
  padding: .8rem;
  border-radius: 1.6rem;
  width: 100%;
  border: none;

  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  color: var(--white-color);
  font-family: 'Mochiy Pop One', sans-serif;
  background-color: var(--green-color-500);

  box-shadow: var(--btn-shadow);

  transition: transform 0.2s ease-in-out, background-color 0.2s;

}

.newcomer__card-btn button:hover {
  background-color: var(--green-color-600);
  transform: scale(1.02);
}

.newcomer__card-btn button:active {
  transform: scale(0.98);
}

.newcomer__push {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.newcomer__push h2 {
  font-size: 3.2rem;
}

.newcomer__push-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: .8rem 1.6rem;
  border-radius: 3.2rem;

  background-color: var(--yellow-color-500);
  box-shadow: var(--btn-shadow);

  transition: all ease-in-out .2s;
}

.newcomer__push-btn a {
  font-family: var(--font-family);
  color: var(--green-color-500);

  height: 100%;
  width: 100%;

  text-decoration: none;
  text-align: center;
}

.newcomer__push-btn:hover {
  background-color: var(--yellow-color-500-vertente);
  scale: 1.1;
}

.newcomer__push-btn:active {
  scale: .9;
}

/* Section - Petsblogs */

.blogs {
  width: 100%;
  max-width: 80rem;

  height: auto;
  border-radius: 2.4rem;
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  box-shadow: var(--card-shadow);
  background-color: var(--white-color);
}

.blogs__title {
  padding: 0;
}

.blogs__title h2 {
  font-size: 6rem;
  color: var(--green-color-500);
  line-height: 1;
}

.blogs__title p {
  font-weight: 600;
  font-size: 2.4rem;
  padding-left: .8rem;
  text-transform: capitalize;
  font-style: italic;
  opacity: .65;
}

.blogs__img {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 50rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 1.6rem;
}

.blogs__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  mask-image: linear-gradient(to bottom, black 50%, transparent 90%);
}

.blogs__img-description {
  width: 100%;
  position: absolute;
  padding: 2.4rem;
  bottom: .8rem;
  color: var(--white-color);

  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.blogs__img-description h4 {
  font-size: 3.2rem;
}

.blogs__img-description p {
  font-size: 1.33rem;
  line-height: 1.4;
  padding: 0 .8rem;
}

.blogs__btn {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.blogs__btn a {
  width: 100%;
  height: 5.2rem;
  border-radius: 1.6rem;
  border: none;
  background-color: var(--yellow-color-500);
  color: var(--green-color-600);

  font-size: 2.4rem;
  font-weight: 600;
  font-family: var(--font-family);
  box-shadow: var(--btn-shadow);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all ease-in-out .2s;
}

.blogs__btn a:hover {
  background-color: var(--yellow-color-400);
  scale: 1.025;
}


.what-say {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: stretch;
  gap: 1.6rem;
  padding: 2.4rem;
}

.what-say__title {
  text-wrap: balance;
}

.what-say__title h3 {
  width: 100%;
  text-align: end;
  max-width: 80rem;
  font-size: 6.4rem;
  text-wrap: balance;
  color: var(--white-color);
  line-height: 1.1;
}

.what-say__title strong {
  color: var(--yellow-color-500);
}

.what-say__posts {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 2.4rem;
}

.what-say__post {
  z-index: -4;
  width: 100%;
  height: 100%;
  max-width: 40rem;
  max-height: 60rem;

  padding: 2.4rem;
  border-radius: 2.4rem;
  background-color: var(--white-color);
  box-shadow: var(--card-shadow);
}

.what-say__person {
  width: 100%;
  height: auto;
  padding: .8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: .8rem;
}

.what-say__person-img {
  width: 100%;
  height: 100%;

  max-width: 8rem;
  max-height: 8rem;
  aspect-ratio: 1 / 1;

  overflow: hidden;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.what-say__person-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.what-say__person-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.what-say__person-info h4 {
  width: 100%;
  line-height: 1.1;
  font-size: 2rem;
  opacity: .75;
}

.what-say__person-info p {
  font-size: 1.6rem;
  font-style: italic;
  opacity: .65;
}

.what-say__post-description p {
  font-style: italic;
  opacity: .65;
  padding-left: .8rem;
  font-size: 1.33;
  font-weight: 300;
  text-wrap: balance;
  line-height: 1.3;
}

.what-say__post-record {
  padding: .8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.what-say__post-record p {
  font-size: 1.33rem;
  font-style: italic;
}

.what-say__post-record ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: .4rem
}

.what-say__post-record li i {
  color: var(--yellow-color-400);
}
