:root {
  /* -- Cores -- */

  --green-color-700: hsl(168, 96%, 14%);
  --green-color-600: hsl(168, 96%, 24%);
  --green-color-500: hsl(168, 96%, 34%);
  --green-color-400: hsl(168, 100%, 44%);
  --green-color-300: hsl(168, 100%, 54%);

  --yellow-color: #FEDF14;
  --blue-color: #3EA9DD;

  /* -- Cores para textos -- */
  --black-color: #2F2F2F;
  --white-color: #F5F7FA;

}
