.navbar {
  position: fixed;
  width: 100%;
  background-color: #ffdf00;
  font-family: var(--font-family);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 10;
}

.navbar__container {
  display: flex;
  padding: 1rem 5.2rem;
  justify-content: space-between;
  align-items: center;
}

.navbar__logotipo {
  max-width: 8rem;
}

.navbar__logotipo img {
  width: 100%;
}


.navbar__navegation {
  display: flex;
  gap: 2.4rem;
  list-style: none;
  align-items: center;
}

.navbar__navegation li,
.navbar__navegation-item {
  list-style: none;
}

.navbar__navegation a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar__navegation a:hover {
  color: var(--green-color-600);
}

/* BOTÃO */
.btn-form a {
  padding: .8rem 1.6rem;
  border-radius: 3.2rem;
  background-color: var(--blue-color-500);
  color: var(--white-color);
  box-shadow: var(--btn-shadow-form);
  transition: 0.2s;
}

.btn-form a:hover {
  background-color: var(--blue-color-600);
}

/* link ativo */
.navbar__navegation-item.active a {
  color: var(--green-color-600);
  position: relative;
}

/* barrinha embaixo */
.navbar__navegation-item.active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: var(--green-color-600);
  border-radius: 2px;
}