/* define variáveis globais */
:root {

  /* define cor verde principal */
  --green-color-500: #0aa37f;

  /* define cor amarela */
  --yellow-color: #ffdf00;

  /* define branco */
  --white-color: #f5f7fa;

  /* define cor de texto */
  --black-color: #2f2f2f;
}